<!-- <div class="card" style="width: 18rem;margin: 15px;">
    <div class="card-body">
      <h3 class="card-title">{{"Student Name     :-"+stud.name}}</h3>
      <h3 class="card-title">{{"Student Std      :-"+stud.std}}</h3>
      <h3 class="card-title">{{"Student City     :-"+stud.city}}</h3>
      <h3 class="card-title">{{"Student Age      :-"+stud.age}}</h3>
    </div>
  </div> -->

  <!-- <div class="card text-dark bg-light" >
    <div class="card-header">{{stud.name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{"Tanna Education Center"}}</h5>
      <h3 class="card-title">{{"Student Std      :-"+stud.std}}</h3>
      <h3 class="card-title">{{"Student City     :-"+stud.city}}</h3>
      <h3 class="card-title">{{"Student Age      :-"+stud.age}}</h3>
      <p class="card-text">{{"Tanna Education Center"}}</p>
    </div>
  </div> -->

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{user.avatar}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}}</h5>
      <h5 class="card-title">{{user.last_name}}</h5>
      <h5 class="card-title">{{user.email}}</h5>
    </div>
  </div>